<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <ul>
      <li class="nav-home"><a href="/"><i class="fas fa-home"></i></a></li>
      <li class="nav-bookmark"><a href="/source"><i class="far fa-bookmark"></i></a></li>
  </ul>
