
<!-- This is the Home view and will render into the main.hbs layout -->
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/trends.js"></script>

<div class="banner">
  <h1>Writing is easy.</h1>
</div>
<div class="container">
  <h1>Today's Trends</h1>
  <div>
    {{#each tag}}
      <button class="trend-data" id={{@index}} name="{{this}}">{{this}}</button>
    {{/each}}
  </div>
  <h1>Tips</h1>
</div>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Cogs121</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="trends.js"></script>
  <script type="text/javascript" src="writing.js"></script>

  <script>
  $(document).ready(() => {
    $.ajax({
      url: 'writing/',
      type: 'GET',
      dataType: 'json',
      success: (data) => {
        $('#writing').html(data);
      }
    });
  });
  </script>

  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">

    <h1>Trends</h1>
    <div id="trends"></div>
    <div id="news"></div>

    <h1>Writing Tips</h1>
      <button class="tips" id="tip1">What is a good title</button>
      <button class="tips" id="tip2">How to write good article</button>

      <hr>

  </div>
</body>
</html> -->
