
<!-- This is the Home view and will render into the main.hbs layout -->
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/trends.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




<script>
  $(document).ready(function() {
    $.ajax('/fetchData', {
      method: 'get'
    })
    .then(
      function success(json) {
        console.log("requesting to fetch data!");
        console.log("success");
        console.log(json);
        $.each(json, function(i, item) {
          let titleLike = 'title' + i;
          let contentLike = 'content' + i;
          let layoutLike = 'layout' + i;

          $(".all_articles").append('<div id="' + json[i].id + '" class="article'+ i +' art"></div>');
          $("<h3>" + json[i].title + "</h3>").appendTo( '.article' + i);
          $("<p>" + 'Author: '+json[i].author + "    "+'Reading time: ' + json[i].reading_time+ " "+'claps:'+json[i].claps+  "</p>").appendTo( '.article' + i);
          $('<a href="' + json[i].link + '">link</a>'+"<hr/>").appendTo( '.article' + i);
          $('<button id = ' + titleLike + ' onclick="updateLikeTitle(' + json[i].id + ')">Like Title  '+ json[i].like_title +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + contentLike + ' onclick="updateLikeContent(' + json[i].id + ')">Like Content  '+ json[i].like_content +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + layoutLike + ' onclick="updateLikeLayout(' + json[i].id + ')">Like Layout  '+ json[i].like_layout +'</button>' ).appendTo( '.article' + i);
          $("<button class=add_article name=\"" + json[i].title + "\" value=\"" + json[i].link + "\">Add to mySource</button>" ).appendTo( '.article' + i);

        })
      },
      function fail(data, status) {
        console.log("fail");
        console.log(data);
        alert('Request failed.  Returned status of ' + status);
      }
    );
  });

  // updateLike = (id) => {
  //     $.ajax({
  //       url: '/updateLike',
  //       type: 'POST',
  //       dataType : 'json',
  //       // contentType: 'application/json',
  //       data: {
  //         article_id: id
  //       },
  //       success: (data) => {
  //         $('#status').html(data.message);
  //       }
  //     });
  //   }

  $('body').on('click', '.add_article', function (e) {
    console.log("clititlekkked");
    e.preventDefault();
    var title = this.name;
    var link = this.value;
    console.log(title);

    $.ajax({
      // all URLs are relative to http://localhost:3000/
      url: '/bookmarks',
      type: 'POST', // <-- this is POST, not GET
      data: {
              title: title,
              link: link
            },
      success: (data) => {
        console.log('sucess');
      }
    });
  });


  updateLikeTitle = (id) => {
  $.ajax({
    url: '/updateLikeTitle',
    type: 'POST',
    dataType : 'json',

    data: {
      article_id: id
    },
    success: (data) => {

      let pass = '#title' + id;
      $(pass).html('Like Title  ' + data.newLikes);

      console.log("successfully reload idex.html")

    }

  });
}

updateLikeContent = (id) => {
  $.ajax({
    url: '/updateLikeContent',
    type: 'POST',
    dataType : 'json',

    data: {
      article_id: id
    },
    success: (data) => {

      let pass = '#content' + id;
      $(pass).html('Like Content  ' + data.newLikes);

      console.log("successfully reload idex.html")

    }
  });
}

updateLikeLayout = (id) => {
  $.ajax({
    url: '/updateLikeLayout',
    type: 'POST',
    dataType : 'json',

    data: {
      article_id: id
    },
    success: (data) => {

      let pass = '#layout' + id;
      $(pass).html('Like Layout  ' + data.newLikes);

      console.log("successfully reload idex.html")

    }
  });
}



sort_title = () => {

  $.ajax({
    url: '/sort_by_title',
    type: 'POST',

  })
  .then(
    function success(json) {
      console.log("success0");
      console.log(json);
      $('.all_articles').empty();
      $.each(json, function(i, item) {

        let titleLike = 'title' + i;
        let contentLike = 'content' + i;
        let layoutLike = 'layout' + i;


          $(".all_articles").append('<div id="' + json[i].id + '" class="article'+ i +' art"></div>');
          $("<h3>" + json[i].title + "</h3>").appendTo( '.article' + i);
          $("<p>" + 'Author: '+json[i].author + "    "+'Reading time: ' + json[i].reading_time+ " "+'claps:'+json[i].claps+  "</p>").appendTo( '.article' + i);
          $('<a href="' + json[i].link + '">link</a>'+"<hr/>").appendTo( '.article' + i);
          $('<button id = ' + titleLike + ' onclick="updateLikeTitle(' + json[i].id + ')">Like Title  '+ json[i].like_title +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + contentLike + ' onclick="updateLikeContent(' + json[i].id + ')">Like Content  '+ json[i].like_content +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + layoutLike + ' onclick="updateLikeLayout(' + json[i].id + ')">Like Layout  '+ json[i].like_layout +'</button>' ).appendTo( '.article' + i);
          $("<button class=add_article name=\"" + json[i].title + "\" value=\"" + json[i].link + "\">Add to mySource</button>" ).appendTo( '.article' + i);

      })
    },


    function fail(data, status) {
      console.log("fail");
      console.log(data);
      alert('Request failed.  Returned status of ' + status);
    }
  );

}

sort_content = () => {

  $.ajax({
    url: '/sort_by_content',
    type: 'POST',

  })
  .then(
    function success(json) {
      console.log("success0");
      console.log(json);
      $('.all_articles').empty();
      $.each(json, function(i, item) {

        let titleLike = 'title' + i;
        let contentLike = 'content' + i;
        let layoutLike = 'layout' + i;



          $(".all_articles").append('<div id="' + json[i].id + '" class="article'+ i +' art"></div>');
          $("<h3>" + json[i].title + "</h3>").appendTo( '.article' + i);
          $("<p>" + 'Author: '+json[i].author + "    "+'Reading time: ' + json[i].reading_time+ " "+'claps:'+json[i].claps+  "</p>").appendTo( '.article' + i);
          $('<a href="' + json[i].link + '">link</a>'+"<hr/>").appendTo( '.article' + i);
          $('<button id = ' + titleLike + ' onclick="updateLikeTitle(' + json[i].id + ')">Like Title  '+ json[i].like_title +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + contentLike + ' onclick="updateLikeContent(' + json[i].id + ')">Like Content  '+ json[i].like_content +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + layoutLike + ' onclick="updateLikeLayout(' + json[i].id + ')">Like Layout  '+ json[i].like_layout +'</button>' ).appendTo( '.article' + i);
          $("<button class=add_article name=\"" + json[i].title + "\" value=\"" + json[i].link + "\">Add to mySource</button>" ).appendTo( '.article' + i);

      })
    },


    function fail(data, status) {
      console.log("fail");
      console.log(data);
      alert('Request failed.  Returned status of ' + status);
    }
  );


}


sort_layout = () => {

  $.ajax({
    url: '/sort_by_layout',
    type: 'POST',

  })
  .then(
    function success(json) {
      console.log("success0");
      console.log(json);
      $('.all_articles').empty();
      $.each(json, function(i, item) {

        let titleLike = 'title' + i;
        let contentLike = 'content' + i;
        let layoutLike = 'layout' + i;



          $(".all_articles").append('<div id="' + json[i].id + '" class="article'+ i +' art"></div>');
          $("<h3>" + json[i].title + "</h3>").appendTo( '.article' + i);
          $("<p>" + 'Author: '+json[i].author + "    "+'Reading time: ' + json[i].reading_time+ " "+'claps:'+json[i].claps+  "</p>").appendTo( '.article' + i);
          $('<a href="' + json[i].link + '">link</a>'+"<hr/>").appendTo( '.article' + i);
          $('<button id = ' + titleLike + ' onclick="updateLikeTitle(' + json[i].id + ')">Like Title  '+ json[i].like_title +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + contentLike + ' onclick="updateLikeContent(' + json[i].id + ')">Like Content  '+ json[i].like_content +'</button>' ).appendTo( '.article' + i);
          $('<button id = ' + layoutLike + ' onclick="updateLikeLayout(' + json[i].id + ')">Like Layout  '+ json[i].like_layout +'</button>' ).appendTo( '.article' + i);
          $("<button class=add_article name=\"" + json[i].title + "\" value=\"" + json[i].link + "\">Add to mySource</button>" ).appendTo( '.article' + i);

      })
    },


    function fail(data, status) {
      console.log("fail");
      console.log(data);
      alert('Request failed.  Returned status of ' + status);
    }
  );


}

</script>

{{> header}}
<div class="content">
<div class="banner">
  <h1>Writing is easy.</h1>
</div>
<div class="container">
  <h1>Today's Trends</h1>
  <div>
    {{#each tag}}
      <button class="trend-data" id={{@index}} name="{{this}}">{{this}}</button>
    {{/each}}
  </div>

</hr>
  <h1>Learn From Articles</h1>
  <!-- Filter button -->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a onclick = "sort_title()">Good title</a></li>
      <li><a onclick = "sort_content()">Good content</a></li>
      <li><a onclick = "sort_layout()">Good layout</a></li>
    </ul>
  </div>

  <div class="all_articles" id = "status"></div>

</div>
</div>
