
<!-- This is the Home view and will render into the main.hbs layout -->
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src="/jquery-3.3.1.min.js"></script>

<script typt="text/javascript">
  $(document).ready(() => {
    $.ajax({
      url: '/sourcedata',
      type: 'GET',
      dataType : 'json',
      success: (data) => {
        console.log("sucessssss");

        data.map(data => {
          $('#bookmarks').append("<div class=bookmark><span><a href=\"" + data.link + "\">" + data.title + "</a></span><button class=delete name=\"" + data.title + "\"><i class='far fa-trash-alt'></i></button> </div>");
        });
      },
    });

    $('body').on('click', '.delete', function (e) {
      console.log("clititlekkked");
      e.preventDefault();
      var title = this.name;

      console.log(title);

      $.ajax({
        // all URLs are relative to http://localhost:3000/
        url: '/sourcedata',
        type: 'POST', // <-- this is POST, not GET
        data: {
                title: title,
              },
        success: (data) => {
          $('#bookmarks').empty();
          data.map(data => {
            $('#bookmarks').append("<div class=bookmark><span><a href=\"" + data.link + "\">" + data.title + "</a></span><button class=delete name=\"" + data.title + "\"><i class='far fa-trash-alt'></i></button> </div>");
          });
        }
      });
    });
  });

</script>

{{> header}}
<div class="bookmark-bg vh-100"></div>
<div class="container">
  <h1 class="my-source">Bookmarks</h1>  
  <div id="bookmarks"></div>
</div>
