button, a {
  cursor: pointer;
}

button:focus {
  outline: none;
}

body {
  margin: 0;
}

.art{
  border: 1px solid #DBDBDB;
  margin: auto;
  box-shadow: 5px 5px 3px #dcbdc7;
  background-color: white;
  width:80%;
  height: 30%;
  padding-bottom:45px;
  margin-bottom:16px;
  border-radius: 12px;

  /* border:solid; */

}

.expandbtn{
   margin: 0 auto;
   display: block;
}


.banner {
  width: 100%;
  background-image: url("background_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.banner h1 {
  text-align: center;
  text-shadow: 2px 2px 8px #4A4848;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
  font-size: 120px;
  font-weight: bolder;
  letter-spacing: 8px;
  color: #F1ECF9;
  padding-top: 2.25em;

}

.banner p{
  text-align: center;
  text-shadow: 2px 2px 8px #4A4848;
  color: white;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  /* font-weight: 700; */
}

.push_container{
    padding-top: 56px;
    background-color:white;
}

.daily_push{
  padding-top:15px;
  overflow:auto;
  margin: auto;
  width:80%;
  border: 1px solid #DBDBDB;
  margin: auto; */
  /* box-shadow: 5px 5px 3px #dcbdc7;

}

/* .art{
  border: 1px solid #DBDBDB;
  margin: auto;
  box-shadow: 5px 5px 3px #dcbdc7;
  background-color: white;
  width:80%;
  height: 30%;
  padding-bottom:45px;
  margin-bottom:16px;
  border-radius: 12px;

  /* border:solid; */

} */

.daily_push img{
  float:left;
}

.daily_push a{
  padding-left:4%;
  font-size: 22px;
  color:black;
}

.daily_push p{
  padding-left:4%;
  font-size: 22px;
  color:grey;
}

.daily_push1{
  padding-top:15px;
  overflow:auto;
  margin: auto;
  width:80%;
  border: 1px solid #DBDBDB;
  margin: auto;
  box-shadow: 5px 5px 3px #dcbdc7;
  margin-bottom: 16px;
}

.daily_push1 img{
  float:left;
}

.daily_push1 a{
  padding-left:4%;
  font-size: 22px;
  color:black;
}

.daily_hit_container{
    padding-top: 56px;
    background-color:#F64C5F;
    padding-bottom: 30px;
}

.daily_hit_container h1{
  text-align:center;

}

.daily_hit_container h3{
  text-align:left;
  color:white;
  padding-left:25%;
  font-size:25px;
}

.article_container{
  background-color: #F1CDD9;
}

.article_container h1{
  text-align: center;
  padding-top: 1.5em;
}
.all_articles {
  border:none;
}
.all_articles a{
  text-decoration: none;
  padding-top:20px;
  padding-left:25px;
  font-size:22px;
  color:black;
  border: none;
  display:block;

}
.all_articles a:hover{
  text-decoration: underline;


}

.all_articles p{
  padding-left:25px;
  font-size:15px;
  color:gray;
}

.btneach{
  float: right;
  padding-right:10px;;
  padding-left:10px
  padding-top:5px;
  padding-bottom:5px;
  margin-right:1%;

}

/* .btnleft{
  margin-left:20px;
} */

.btntitle{
  color:#EFC302;
  background-color: #F5F0D7;
  border-radius:10px;
  border:none;
}

.btncontent{
  color:#06D2E5;
  background-color: #C5E9EF;
  border-radius:10px;
  border:none;
}

.btnlayout{
  color:#F64C5F;
  background-color: #FDBBC2;
  border-radius:10px;
  border:none;
}

.dropdown-menu a{
  font-size: 30px
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.trend {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  background-color: #2F4858;
}

.trend h1 {
  text-align: center;
  margin-bottom: 0.25em;
  color: white;
}

.trend p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 1.75em;
  color: white;
}

.trend button {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 0.35em 1em;

  /* background: linear-gradient(rgba(255, 255, 255, 1),rgba(254, 218, 70, 0.9)); */

  background-color: rgba(254, 218, 70);
  color: #4C4637;
  border-radius: 20px;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  border: 2px solid #feda46;
}

.trend_animation {
  background: linear-gradient(rgba(255, 255, 255, 1),rgba(254, 218, 70, 0.9));
}

/* .trend button:hover {
  padding: 0.5em 1.25em ;
} */

.news {
  border: 1px solid #DBDBDB;
  margin: auto;
  box-shadow: 5px 5px 3px #dcbdc7;
  background-color: white;
  width: 80%;
  height: 30%;
  padding: 2em 3em;
  margin-bottom: 16px;
  border-radius: 12px;
}

.added {
  font-size: 16px!important;
  color: blue!important;
  display: inline!important;
  padding: 0!important;
  float: right!important;
}

.add_article {
  background: none;
  border: none;
  font-size: 36px;
  color: rgba(254, 218, 70, 1);
  float: right;
}


.news span {
  font-size: 24px;
  padding-bottom: 0.5em;
}

.news button {
  background: none;
  border: none;
  font-size: 32px;
  color: rgba(254, 218, 70, 1);
}

.news p {
  padding-top: 0.5em;
}

.tag-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.hidden {
  display: none; /* Hidden by default */
}

.show {
  display: block;
  position: absolute;
}

.show u {
  font-size: 14px;
  padding: 0.75em;
  border: 1px solid #DBDBDB;
  box-shadow: 5px 5px 3px #dcbdc7;
  background-color: white;
}

.show_home {
  display: block;
  float: right;
}

.show_home u {
  font-size: 14px;
  padding: 0.75em;
  border: 1px solid #DBDBDB;
  box-shadow: 5px 5px 3px #dcbdc7;
  background-color: white;
}

.writing-data {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 600;
}

ul {
  position: fixed;
  width: 100%;
  list-style-type: none;
  padding-top: 0.5em;
  padding-left: 0;
  top: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

li {
  font-size: 32px;

}

.nav-home {
  float: left;
  margin-left: 1em;
}

.nav-home i {
  font-size: 64px;
  color: black;
  filter: drop-shadow(2px 2px 5px #4A4848);
}

.nav-bookmark {
  float: right;
  margin-right: 1em;
}

.nav-bookmark i {
  color: yellow;
  font-size: 48px;
}

.my-source {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

#bookmarks {
  margin-bottom: 2em;
}

.bookmark {
  border: 1px solid #DBDBDB;
  margin: auto;
  box-shadow: 5px 5px 3px #dcbdc7;
  background-color: white;
  width: 90%;
  padding: 2em 3em;
  margin-bottom: 16px;
  border-radius: 12px
}

.bookmark span {
  width: 80%;
}

.bookmark a {
  color: black;
  font-size: 24px;
}



.delete {
  background: none;
  color: red;
  border: none;
  font-size: 28px;
  float: right;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
