button, a {
  cursor: pointer;
}

body {
  margin: 0;
}

.art{
  border: 1px solid #DBDBDB;
  margin: auto;
  box-shadow: 5px 5px 3px #dcbdc7;
  background-color: white;
  width:80%;
  height: 30%;
  padding-bottom:10px;
  margin-bottom:16px;
  border-radius: 12px;
  /* border:solid; */

}


.banner {
  width: 100%;
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60%;
}

.banner h1 {
  text-align: center;
  text-shadow: 2px 2px 8px #4A4848;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 80px;
  font-weight:700;
  color: white;
  margin-top: 1em;
  padding-top: 1em;

}

.banner p{
  text-align: center;
  text-shadow: 2px 2px 8px #4A4848;
  color: white;
  padding-top: 1em;



}
.article_container{
  background-color: #F1CDD9;
}

.article_container h1{
  text-align: center;
}
.all_articles {
  border:none;
}
.all_articles a{
  text-decoration: none;
  padding-top:20px;
  padding-left:25px;
  font-size:22px;
  color:black;
  border: none;
  display:block;

}
.all_articles a:hover{
  text-decoration: underline;


}

.all_articles p{
  padding-left:25px;
  font-size:15px;
  color:gray;
}

.btneach{
  float: right;
  padding-right:10px;;
  padding-left:10px
  padding-top:5px;
  padding-bottom:5px;
  margin-right:1%;

}

/* .btnleft{
  margin-left:20px;
} */

.btntitle{
  color:#EFC302;
  background-color: #F5F0D7;
  border-radius:10px;
  border:none;
}

.btncontent{
  color:#06D2E5;
  background-color: #C5E9EF;
  border-radius:10px;
  border:none;
}

.btnlayout{
  color:#F64C5F;
  background-color: #FDBBC2;
  border-radius:10px;
  border:none;
}

.dropdown-menu a{
  font-size: 30px
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.trend-data {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0.35em 1em ;
  /* background: linear-gradient(rgba(254, 218, 70, 0.7), rgba(254, 218, 70, 1), rgba(254, 218, 70, 0.7));    */
  background: linear-gradient(rgba(254, 218, 70, 0.6),rgba(254, 218, 70, 1));
  border-radius: 20px;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  border: 2px solid #feda46;
}

.news {
  margin-bottom: 2em;
}

.news img {
  width: 40%;
}

.news h5 {
  width: 100%;
}

.news a {
  margin-bottom: 0.5em;
  font-size: 14px;
}

.news p {
  margin-top: 0.5em;
}

.tag-title {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

.writing-data {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 600;
}

ul {
  position: fixed;
  width: 100%;
  list-style-type: none;
  height: 3em;
  padding-top: 0.5em;
  padding-left: 0;
  top: 0;
  margin: 0;
  background-color: white;

}

li {
  font-size: 32px;

}

.nav-home {
  float: left;
  margin-left: 1em;
}

.nav-bookmark {
  float: right;
  margin-right: 1em;
}

.nav-bookmark i {
  color: yellow;
}

.my-source {
  margin-top: 3em;
}

#bookmarks {
  margin-bottom: 2em;
}

.delete {
  margin-bottom: 2em;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
